{% extends 'base.html' %}
{% load formtags %}

{% block title %}Add Task{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">Task Creation</h1>

    <div class="auth-card">
        <div class="auth-card-body">
            <form method="post">
                {% csrf_token %}

                {# Task Form Fields #}
                <div class="mb-3">
                    <label for="id_task_title" class="form-label">Task Title:</label>
                    {{ task_form.task_title|addclass:"form-control" }}
                    {% if task_form.task_title.errors %}
                        <div class="text-danger">{{ task_form.task_title.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_task_description" class="form-label">Task Description:</label>
                    {{ task_form.task_description|addclass:"form-control" }}
                    {% if task_form.task_description.errors %}
                        <div class="text-danger">{{ task_form.task_description.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_task_priority" class="form-label">Select Task Priority:</label>
                    {{ task_form.task_priority|addclass:"form-control" }}
                    {% if task_form.task_priority.errors %}
                        <div class="text-danger">{{ task_form.task_priority.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_start_date" class="form-label">Start Date:</label>
                    {{ task_form.start_date|addclass:"form-control" }}
                    {% if task_form.start_date.errors %}
                        <div class="text-danger">{{ task_form.start_date.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_end_date" class="form-label">End Date:</label>
                    {{ task_form.end_date|addclass:"form-control" }}
                    {% if task_form.end_date.errors %}
                        <div class="text-danger">{{ task_form.end_date.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_task_type" class="form-label">Select Task Type:</label>
                    {{ task_form.task_type|addclass:"form-control" }}
                    {% if task_form.task_type.errors %}
                        <div class="text-danger">{{ task_form.task_type.errors }}</div>
                    {% endif %}
                </div>

                {# Task Assignment Form Fields #}
                <div class="mb-3">
                    <label for="id_employee" class="form-label">Assigned To:</label>
                    {{ assignment_form.employee|addclass:"form-control" }}
                    {% if assignment_form.employee.errors %}
                        <div class="text-danger">{{ assignment_form.employee.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_status" class="form-label">Status:</label>
                    {{ assignment_form.status|addclass:"form-control" }}
                    {% if assignment_form.status.errors %}
                        <div class="text-danger">{{ assignment_form.status.errors }}</div>
                    {% endif %}
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Create Task</button>
                    <a href="{% url 'core:manager_task_view' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}